{{ "<!-- HEADER -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
        <div class="row">
        	<div class="col-md-6 col-md-offset-3">
				<img class="img-responsive" src="img/logo-large-white.png" alt="SBD Logo">
			</div>
        </div>
        <div class="row">
            <hr>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
        </div>
        </div>
    </div>
</header>
